/* Default styles (Light Mode) */
body {
    background-color: white;
    color: black;
}

#form-container, #signup-container {
    background-color: white; /* Light mode background for forms */
    color: black;
}

/* Dark Mode styles */
body.dark {
    background-color: #121212; /* Dark background */
    color: white; /* Light text color */
}

body.dark #form-container,
body.dark #signup-container {
    background-color: #1e1e1e; /* Dark background for forms */
    color: white;
}
